[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
aiosqlite = "*"
cchardet = "*"  # This makes aiohttp, on which discord.py depends, much faster.
python-dotenv = "*"
jishaku = '*' #Debug cog for bot-owner

[dev-packages]
ipython = "*"  # Interactive shell for debugging etc. Basically the normal REPL but on steroids.
black = {extras = ["d"], version = "*"}  # A formatter and style checker, like pycodestyle.

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
bot = "python main.py"
